<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Shopify Links" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main-wrapper">
      <!-- Navbar com Bulma -->
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- O link_to envolve o título Linksify -->
    <%= link_to products_path, class: 'navbar-item' do %>
      <h2 class="title is-3 has-text-white">Linksify</h2>
    <% end %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        <%= link_to 'Início', products_path, class: 'button is-primary is-light' %>
      </a>
      <a class="navbar-item">
        <%= link_to 'Lista de Desejos', wishlist_path, class: 'button is-primary is-light' %>
      </a>
    </div>
  </div>
</nav>

      <!-- Conteúdo Principal -->
      <section class="section">
        <div class="container">
          <%= yield %>
        </div>
      </section>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {
              const target = el.dataset.target;
              const $target = document.getElementById(target);
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
      });
    </script>
  </body>
</html>
